@use "../../styles/main.scss" as *;

.bean-page {
    padding: 2rem;
    text-align: center;
  
    .title {
      font-family: $font-chewy;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  
    .bean-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 2rem;
    }
  
    .bean-card {
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease-in-out;
  
      &:hover {
        transform: scale(1.05); /* Slight zoom effect */
      }
  
      .bean-image {
        width: 100%;
        border-radius: 8px;
        object-fit: contain;
      }
  
      h3 {
        margin-top: 1rem;
       // font-family: $font-primary;
        font-size: 1.25rem;
        color: $BeanSoftWhite-color;
      }
    }
    .bean-description {
        //margin-top: 0.5rem;
        font-family: $font-chewy;
        font-size: 0.7rem;
        color: $BeanSoftWhite-color;
        line-height: 1.5; /* Gap between lines*/
        text-align: center;
      }
  }
  