@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Chewy&display=swap');

// Fonts
$font-baloo: 'Baloo 2', cursive;  // For body and general text
$font-chewy: 'Chewy', cursive;      // For playful headers or links

// Colors
$primary-color: #FFE5B4;
$BeanPink-color: #FF6B6B; // hover text ?
$BeanNavy-color: #2A3D45; // Footer  nav ?
$BeanMintGreen-color: #66D19E; // Text
$BeanSoftWhite-color: #F5F5F5; // Displaybox background
$BeanOrange-color: #FFE5B4; // Backgrund

body {
  font-family: $font-baloo;
  background-color: $primary-color;
}

h1, h2, h3 {
  font-family: $font-chewy;
}

.navbar-links a {
  font-family: $font-chewy;
  font-size: 1.5rem;
  color: $BeanSoftWhite-color;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $BeanPink-color;
  }
}

//   .app-container {
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh; /* Full viewport height */
//   }
  
//   .content {
//     flex: 1; /* Takes up available space, pushing the footer to the bottom */
//   }