

  
  
  $primary-color: #3498db;
  $BeanPink-color: #FF6B6B;
  $BeanNavy-color: #2A3D45;
  $BeanMintGreen-color: #66D19E;
  $BeanSoftWhite-color: #F5F5F5;
  $BeanOrange-color: #FFE5B4;

  body {
    background-color: $primary-color;
  }
//   .app-container {
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh; /* Full viewport height */
//   }
  
//   .content {
//     flex: 1; /* Takes up available space, pushing the footer to the bottom */
//   }