@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Chewy&display=swap');

// Fonts
$font-baloo: 'Baloo 2', cursive;  // For body and general text
$font-chewy: 'Chewy', cursive;      // For playful headers or links

// Colors
$primary-color: #fae6c0;
$BeanPink-color: #FF6B6B; // hover text ?
$BeanNavy-color: #2A3D45; // Footer  nav ?
$BeanMintGreen-color: #66D19E; // Text
$BeanMintGreen-color: #66D19E; // Text
$BeanSoftWhite-color: #F5F5F5; // Displaybox background
$BeanOrange-color: #f4e7ce; // Backgrund
//$BeanOrange-color: #FFE5B4; 
// $primary-color: #d5ead6 camilla mintgrön
// $primary-color: #e6f4e7 camilla2 ljus mintgrön
// $primary-color: #f7e7e2; camilla ljusrosa
// $primary-color: #e5eef7; camilla ljusblå

// $primary-color: #e8dff5; Alex ljuslila
// $primary-color: #fce1e4; Alex ljusrosa (lite mörkare än camillas)
// $primary-color: #daeaf6; Alex ljusblå

body, html {
  font-family: $font-baloo;
  background-color: $primary-color;
  //overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;  /* Make sure the body is covering the whole width */
}

h1, h2, h3 {
  font-family: $font-chewy;
}

.navbar-links a {
  font-family: $font-chewy;
  font-size: 1.5rem;
  color: $BeanSoftWhite-color;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $BeanPink-color;
  }
}

#root {
  margin: 0; /* Remove the center alignment */
  text-align: center;
  width: 100%;
  height: 100%; /* Strech the entire height of body */
  box-sizing: border-box; /* Include padding in the height and width */
}
.app-container{
  background-color: $primary-color;
  display: flex;
  height: auto;
//     flex-direction: column;
//     min-height: 100vh;
}

