@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Chewy&display=swap');

// Fonts
$font-baloo: 'Baloo 2', cursive;  // For body and general text
$font-chewy: 'Chewy', cursive;      // For playful headers or links

// Colors
$primary-color: #fae6c0;
$BeanPink-color: #FF6B6B; // hover text ?
$BeanNavy-color: #2A3D45; // Footer  nav ?
$BeanMintGreen-color: #66D19E; // Text
$BeanSoftWhite-color: #F5F5F5; // Displaybox background
$BeanOrange-color: #f4e7ce; // Backgrund
//$BeanOrange-color: #FFE5B4; 
// $primary-color: #d5ead6 camilla

body, html {
  font-family: $font-baloo;
  background-color: $primary-color;
  //overflow-x: hidden;
  
}

h1, h2, h3 {
  font-family: $font-chewy;
}

.navbar-links a {
  font-family: $font-chewy;
  font-size: 1.5rem;
  color: $BeanSoftWhite-color;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $BeanPink-color;
  }
}


