@use "../../styles/main.scss" as *;

h1{
    color: $BeanMintGreen-color;
    font-size: 50px;
}
p{
    color: $BeanMintGreen-color;
    font-size: 20px; 
}
.header{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}