.beans-info-section {
  display: flex;
  align-items: center;
  padding: 2rem;

  .image-container {
    flex: 1;
    max-width: 40%;
    order: 1; /* Ensure image appears first */

    a {
      display: inline-block;

      img {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }

      &:hover img {
        transform: scale(1.05); /* Slight zoom on hover */
      }
    }

    img {
      width: 70%;
      height: auto;
      border-radius: 600px;
      object-fit: cover;
    }
  }

  .text-container {
    flex: 1;
    padding: 1rem;
    order: 2; /* Ensure text appears second */

    p {
      line-height: 1.8;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column; /* Stack vertically on small screens */
    text-align: center;

    .image-container {
      max-width: 50%;
      order: initial; /* Reset the order for small screens */
    }
  }
}
